@model ArticleCreateViewModel


<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <h4>@ViewData["Header"]</h4>
            <br />
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-action="@ViewData["Method"]" asp-controller="Article" method="post">
                    @await Html.PartialAsync("_OptionsEdit", Model.Tags)
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <div class="mb-3">
                        <label for="Title" class="form-label">Заголовок</label>
                        <input type="text" class="form-control" name="Title" value="@Model?.Title" />
                        <br />
                        <label for="Text" class="form-label">Контент</label>
                        <textarea class="form-control" name="Text" rows="10">@Model?.Text</textarea>
                        <input class="btn btn-primary mt-3" type="submit" value="Сохранить" />
                    </div>
                </form>
            }
        </div>
    </div>
</div>


