@model CommentCreateViewModel

@{
    ViewData["Title"] = "Редактирование комментария";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <h5>@ViewData["Header"]</h5>
            <br />
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-action="Edit" asp-controller="Comment" asp-route-id="" method="post">
                    <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="mb-3">
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <input type="hidden" name="ArticleId" value="@Model.ArticleId" />

                        <label for="Text" class="form-label">Комментарий</label>
                        <textarea class="form-control" asp-for="CommentText" rows="3">@Model.CommentText</textarea>
                        <span asp-validation-for="CommentText" class="text-danger"> </span>
                        <input class="btn btn-primary mt-3" type="submit" value="Сохранить" />
                    </div>
                </form>
            }
        </div>
    </div>
</div>

@section ValidationScripts {
    <partial name="_ValidationScriptsPartial" />
}