@{
    ViewData["Title"] = "No comments";
}

<p>Работа с комментариями происходит через статью</p>

<script>
    let form = document.getElementsByName("search")[0];
    form.style = "display: none!important;";
</script>