@model TagViewModel


<div class="container">
    <div class="row mt-5">
        <div class="col-4 offset-2">
            <h4>@ViewData["Header"]</h4>
            <br />
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-action="@ViewData["Method"]" asp-controller="Tag" asp-route-id="" method="post">
                    <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <div class="mb-3">
                        <label for="Name" class="form-label">Название тега</label>
                        <input type="text" asp-for="Name" class="form-control" value="@Model.Name" />
                        <span asp-validation-for="Name" class="text-danger"> </span>
                        <input class="btn btn-primary mt-3" type="submit" value="Сохранить" />
                    </div>
                </form>
            }
        </div>
    </div>
</div>

@section ValidationScripts {
    <partial name="_ValidationScriptsPartial" />
}
