@model IEnumerable<OptionViewModel>

@* Выбор опций с помощью чекбоксов *@

<div class="mb-3">
    @foreach (var option in Model)
    {
        <input type="checkbox" id="OptionNames_@option.Id" name="OptionNames" value="@option.Name" @(option.isChecked ? "checked" : "") />
        <label for="OptionNames_@option.Id" class="me-2">@option.Name</label>
    }
</div>


