@model IEnumerable<OptionViewModel>

@* Выбор опций с помощью чекбоксов *@

<div class="mb-3">
    @foreach (var tag in Model)
    {
        <input type="checkbox" id="Tag_@tag.Id" name="Tags" value="@tag.Name" @(tag.isChecked ? "checked" : "") />
        <label for="Tag_@tag.Id" class="me-2">@tag.Name</label>
    }
</div>


